main {
	> h1,
	section > h1 {
		font-size: 3em;
		font-weight: bold;
		margin-bottom: 0;
	}

	figure {
		margin: 0;
		position: relative;

		figcaption {
			position: absolute;
			bottom: 0;
			right: 0;

			background-color: rgba(255, 255, 255, 0.5);
			padding: 0 0.3em;
			font-size: 0.5em;
		}
	}

	section {
		margin-top: 2em;

		& > {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin: 2em 0 0;
				border-bottom: solid 1px transparentize($black, $amount: 0.9);
				padding-bottom: 0.5em;
			}
		}

		p {
			text-align: justify;
			line-height: 2em;
		}
	}

	nav {
		margin-top: 2em;
		text-align: right;
	}
}
