{
	"plugins": ["prettier-plugin-hugo-post", "prettier-plugin-go-template"],
	"overrides": [
		{
			"files": ["*.md"],
			"options": {
				"parser": "hugo-post",
				"printWidth": 100,
				"proseWrap": "preserve"
			}
		},
		{
			"files": ["*.html"],
			"options": {
				"parser": "go-template"
			}
		}
	],
	"goTemplateBracketSpacing": true
}
