.flag {
	svg {
		vertical-align: top;
		width: 100%;
		height: 100%;
	}

	&.simple {
		display: inline-block;

		h2,
		pre {
			display: none;
		}

		svg {
			width: 100px;
			height: 100px;
		}
	}
}
