.flag {
	margin-bottom: 1em;

	pre,
	svg,
	canvas {
		margin: 1px;
		display: inline-block;
		vertical-align: top;
	}

	pre {
		margin: 0;
	}

	&.simple {
		margin-bottom: 0;
		display: inline-block;
		h2,
		pre {
			display: none;
		}
	}
}
