// based on Gruvbox's palette
$black: #3c3836;
$white: #fbf1c7;
$grey: #928374;
$red: #cc241d;
$blue: #458588;
$violet: #b16286;
$yellow: #d79921;
$green: #98971a;

$background: $black;
$foreground: $white;

code {
	background-color: $background;
	color: $foreground;
	padding: 0 0.2em;

	.err {
		color: $foreground;
		background-color: $red;
	} /* Error */

	.k {
		color: $blue;
	} /* Keyword */
	.l {
		color: $violet;
	} /* Literal */
	.n {
		color: $foreground;
	} /* Name */

	.o {
		color: $red;
	} /* Operator */
	.p {
		color: $foreground;
	} /* Punctuation */

	.c {
		color: $grey;
	} /* Comment */
	.cm {
		color: $grey;
	} /* Comment.Multiline */
	.cp {
		color: $red;
	} /* Comment.Preproc */
	.c1 {
		color: $grey;
	} /* Comment.Single */
	.cs {
		color: $grey;
	} /* Comment.Special */

	.ge {
		font-style: italic;
	} /* Generic.Emph */
	.gs {
		font-weight: bold;
	} /* Generic.Strong */

	.kc {
		color: $blue;
	} /* Keyword.Constant */
	.kd {
		color: $blue;
	} /* Keyword.Declaration */
	.kn {
		color: $red;
	} /* Keyword.Namespace */
	.kp {
		color: $blue;
	} /* Keyword.Pseudo */
	.kr {
		color: $blue;
	} /* Keyword.Reserved */
	.kt {
		color: $blue;
	} /* Keyword.Type */

	.ld {
		color: $violet;
	} /* Literal.Date */
	.m {
		color: $violet;
	} /* Literal.Number */

	.na {
		color: $foreground;
	} /* Name.Attribute */
	.nb {
		color: $yellow;
	} /* Name.Builtin */
	.nc {
		color: $foreground;
	} /* Name.Class */
	.no {
		color: $blue;
	} /* Name.Constant */
	.nd {
		color: $foreground;
	} /* Name.Decorator */
	.ni {
		color: $foreground;
	} /* Name.Entity */
	.ne {
		color: $green;
	} /* Name.Exception */
	.nf {
		color: $green;
	} /* Name.Function */
	.nl {
		color: $foreground;
	} /* Name.Label */
	.nn {
		color: $foreground;
	} /* Name.Namespace */
	.nx {
		color: $foreground;
	} /* Name.Other */
	.py {
		color: $foreground;
	} /* Name.Property */
	.nt {
		color: $red;
	} /* Name.Tag */
	.nv {
		color: $foreground;
	} /* Name.Variable */
	.ow {
		color: $red;
	} /* Operator.Word */
	.w {
		color: $foreground;
	} /* Text.Whitespace */

	.mf {
		color: $violet;
	} /* Literal.Number.Float */
	.mh {
		color: $violet;
	} /* Literal.Number.Hex */
	.mi {
		color: $violet;
	} /* Literal.Number.Integer */
	.il {
		color: $violet;
	} /* Literal.Number.Integer.Long */
	.mo {
		color: $violet;
	} /* Literal.Number.Oct */

	.s {
		color: $green;
	} /* Literal.String */
	.sb {
		color: $green;
	} /* Literal.String.Backtick */
	.sc {
		color: $green;
	} /* Literal.String.Char */
	.sd {
		color: $green;
	} /* Literal.String.Doc */
	.s2 {
		color: $green;
	} /* Literal.String.Double */
	.se {
		color: $violet;
	} /* Literal.String.Escape */
	.sh {
		color: $green;
	} /* Literal.String.Heredoc */
	.si {
		color: $green;
	} /* Literal.String.Interpol */
	.sx {
		color: $green;
	} /* Literal.String.Other */
	.sr {
		color: $green;
	} /* Literal.String.Regex */
	.s1 {
		color: $green;
	} /* Literal.String.Single */
	.ss {
		color: $green;
	} /* Literal.String.Symbol */

	.bp {
		color: $yellow;
	} /* Name.Builtin.Pseudo */
	.vc {
		color: $foreground;
	} /* Name.Variable.Class */
	.vg {
		color: $yellow;
	} /* Name.Variable.Global */
	.vi {
		color: $foreground;
	} /* Name.Variable.Instance */

	.gh {
		color: $yellow;
	} /* Generic Heading & Diff Header */
	.gu {
		color: $blue;
	} /* Generic.Subheading & Diff Unified/Comment? */
	.gd {
		color: $red;
	} /* Generic.Deleted & Diff Deleted */
	.gi {
		color: $green;
	} /* Generic.Inserted & Diff Inserted */
}
