{{ define "main" }}
	<div class="metadata">
		{{ with .Date }}
			<time datetime="{{ . | time.Format "2006-01-02" }}">
				{{ . | time.Format "2006-01-02" }}
			</time>
		{{ end }}

		{{ with .GetTerms "tags" }}
			&nbsp; | &nbsp;
			{{ range . }}
				<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
			{{ end }}
		{{ end }}
	</div>

	{{ if .Params.Image }}
		<figure>
			<img src="{{ .Params.Image.Link }}" alt="" />
			{{ if .Params.Image.Copyright }}
				<a class="copyright" href="{{ .Params.Image.Copyright }}">Copyright</a>
			{{ end }}
		</figure>
	{{ end }}

	{{ .Content }}

	{{ with .Params.References }}
		<hr />

		References:
		<ul>
			{{ range . }}
				<li><a href="{{ . }}">{{ . }}</a></li>
			{{ end }}
		</ul>
	{{ end }}
{{ end }}
