{{ define "main" }}
	<div class="metadata">
		{{ with .Date }}
			<time datetime="{{ . | time.Format "2006-01-02" }}">
				Written:
				{{ . | time.Format "2006-01-02" }}
			</time>
		{{ end }}

		{{ with .GetTerms "tags" }}
			&nbsp; | &nbsp;
			{{ range . }}
				<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
			{{ end }}
		{{ end }}
		<br />

		{{ if not (and (eq .Date.Year .Lastmod.Year) (eq .Date.YearDay .Lastmod.YearDay)) }}
			{{ with .Lastmod }}
				<time datetime="{{ . | time.Format "2006-01-02" }}">
					Updated:
					{{ . | time.Format "2006-01-02" }}
				</time>
			{{ end }}
		{{ end }}
	</div>

	{{ if .Params.Image }}
		<figure>
			<img src="{{ .Params.Image.Link }}" alt="" />
			{{ if .Params.Image.Copyright }}
				<a class="copyright" href="{{ .Params.Image.Copyright }}">Copyright</a>
			{{ end }}
		</figure>
	{{ end }}

	{{- with .Content -}}
		<div>
			{{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> 🔗 </a> ${3}` | safeHTML }}
		</div>
	{{- end -}}

	{{ with .Params.References }}
		<hr />

		References:
		<ul>
			{{ range . }}
				<li><a href="{{ . }}">{{ . }}</a></li>
			{{ end }}
		</ul>
	{{ end }}
{{ end }}
