@use "sass:map";

// Inspired by https://github.com/picocss/pico/blob/main/scss/_settings.scss
body {
	$breakpoints: (
		(
			// Small (landscape phones)
			// Font size: 17px
			sm: (
					breakpoint: 576px,
					viewport: 50em,
					root-font-size: 106.25%,
				),

			// Medium (tablets)
			// Font size: 18px
			md: (
					breakpoint: 768px,
					viewport: 45em,
					root-font-size: 112.5%,
				),

			// Large
			// Font size: 19px
			lg: (
					breakpoint: 1024px,
					viewport: 40em,
					root-font-size: 118.75%,
				),

			// Extra large
			// Font size: 20px
			xl: (
					breakpoint: 1280px,
					viewport: 40em,
					root-font-size: 125%,
				),

			// Extra extra large
			// Font size: 21px
			xxl: (
					breakpoint: 1536px,
					viewport: 40em,
					root-font-size: 131.25%,
				)
		)
	);

	$first-breakpoint: true;
	@each $key, $values in $breakpoints {
		@if $values {
			@media (min-width: map.get($values, "breakpoint")) {
				width: map.get($values, "viewport");
				font-size: map.get($values, "root-font-size");
				@if $first-breakpoint {
					$first-breakpoint: false;
					padding-right: 0;
					padding-left: 0;
				}
			}
		}
	}
}
