@use "./syntax.scss";
@use "./breakpoints.scss";

:root {
	--black: #1d1f21;
	--white: #c5c8c6;
	--pre-bg: #2d3031;
	--link-accent: #859abc;
	--em-accent: #7c9e9b;
	--strong-accent: #93b6a4;

	--fg-color: var(--white);
	--bg-color: var(--black);
}

* {
	color: var(--fg-color);
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	max-width: 40em;
	margin: 0 auto;

	line-height: 1.5em;
	border-right: 1px solid var(--pre-bg);
	border-left: 1px solid var(--pre-bg);

	/* https://css-tricks.com/snippets/css/system-font-stack/ */
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	background-color: var(--bg-color);

	display: flex;
	flex-direction: column;

	header,
	footer,
	main > * {
		padding: 1em;
		border-bottom: 1px solid var(--pre-bg);
	}
}

header {
	h1 {
		margin-top: 0;
		border-top: 0;
	}
}

main {
	flex-grow: 1;
	text-align: justify;

	h2:first-child {
		margin-top: 0;
	}
}

footer {
	text-align: center;
	p {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2em;

	padding-block: 0.5em;
	margin-bottom: 0;
	border-top: 1px solid var(--pre-bg);
}

time {
	font-family: monospace;
}

figure {
	margin-inline: 0;
}

img {
	filter: brightness(0.8) contrast(1.2);
	display: block;
	max-width: 100%;
	margin-inline: auto;
}

p {
	margin-top: 0;
}

#references a {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	white-space: nowrap;
	vertical-align: bottom;
}

a,
a code {
	color: var(--link-accent);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

em {
	color: var(--em-accent);
}

strong {
	color: var(--strong-accent);
}

ul {
	margin: 0;
	padding-left: 1em;
	list-style-type: "- ";
}

.articles {
	font-family: monospace;

	border-bottom: 1px solid var(--pre-bg);

	summary {
		cursor: pointer;
		list-style-type: "?";
		&:hover {
			color: var(--bg-color);
			background-color: var(--fg-color);
		}
	}

	&[open] > summary {
		list-style-type: ">";
	}

	p {
		margin: 0;
	}

	ul {
		list-style: none;
		padding: 0;

		&.inline li {
			display: inline-block;
		}
		&:not(.inline) li a {
			display: flex;
		}

		li {
			list-style: none;
			a {
				text-decoration: none;

				&:hover,
				&:hover * {
					text-decoration: none;
					color: var(--bg-color);
					background-color: var(--link-accent);
					:last-child {
						color: var(--bg-color);
					}
				}

				.length {
					width: 5em;
				}

				time {
					width: 8em;
				}

				:last-child {
					color: var(--link-accent);
				}
			}
		}
	}
}

blockquote {
	font-style: italic;
	margin: 0.2em 0;
	padding: 0.2em 1em;
	border-left: 3px solid var(--fg-color);

	p {
		margin: 0;
	}
}

code {
	background-color: var(--pre-bg);
}

pre {
	line-height: 1.2em;
	padding: 2em 1em;
	overflow-y: scroll;
	background-color: var(--pre-bg);

	position: relative;

	code {
		&::after {
			content: attr(data-lang);
			position: absolute;
			top: 0.5em;
			right: 0.5em;
		}
	}
}

figure {
	text-align: right;
}

input {
	background-color: var(--bg-color);
	color: var(--fg-color);
	border: 1px solid var(--fg-color);
	border-radius: 2px;
	padding: 0.2em 0.4em;
}

button {
	background: var(--bg-color);
	border: 1px solid var(--fg-color);
	border-radius: 2px;
	cursor: pointer;

	&:hover {
		background-color: var(--fg-color);
		color: var(--bg-color);
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	tr {
		border: 1px solid var(--fg-color);

		td,
		th {
			padding: 0.2em 0.6em;
			border: 1px solid var(--fg-color);
		}
	}
}

hr {
	margin: 2em 0;
	border: 0;
	border-bottom: 1px solid var(--pre-bg);
	text-align: center;
}

.hanchor {
	font-size: 0.8em;
	visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9 {
	&:hover .hanchor {
		visibility: visible;
	}
}

blink {
	font-weight: normal;
	animation: blink 3s steps(1, end) infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
}
