@use "../../node_modules/@picocss/pico/scss/pico" with (
	$enable-semantic-container: true,
	$enable-classes: false,
	$modules: (
		// Theme
		"themes/default": false,

		// Layout
		"layout/document": false,
		"layout/landmarks": false,
		"layout/container": false,
		"layout/section": false,
		"layout/grid": false,
		"layout/overflow-auto": false,

		// Content
		"content/link": false,
		"content/typography": false,
		"content/embedded": false,
		"content/button": false,
		"content/table": false,
		"content/code": false,
		"content/figure": false,
		"content/misc": false,

		// Forms
		"forms/basics": false,
		"forms/checkbox-radio-switch": false,
		"forms/input-color": false,
		"forms/input-date": false,
		"forms/input-file": false,
		"forms/input-range": false,
		"forms/input-search": false,

		// Components
		"components/accordion": false,
		"components/card": false,
		"components/dropdown": false,
		"components/group": false,
		"components/loading": false,
		"components/modal": false,
		"components/nav": false,
		"components/progress": false,
		"components/tooltip": false,

		// Utilities
		"utilities/accessibility": false,
		"utilities/reduce-motion": false,
	)
);
