.chroma {
	* {
		color: var(--fg-code);
	}

	.err {
		color: var(--red);
	}

	.s,
	.sa,
	.sb,
	.sc,
	.dl,
	.sd,
	.s2,
	.se,
	.sh,
	.si,
	.sx,
	.sr,
	.s1,
	.ss {
		color: var(--green);
	}

	.c,
	.ch,
	.cm,
	.c1,
	.cs,
	.cp,
	.cpf {
		color: var(--comment);
	}
}
