<div class="articles">
	{{ $ancestorSkip := 1 }}
	{{ with .ancestorSkip }}
		{{ $ancestorSkip = . }}
	{{ end }}
	{{ $ancestors := math.Add (.context.Ancestors | len) $ancestorSkip | int }}


	<ul>
		{{ range .posts }}
			<li>
				<a href="{{ .RelPermalink }}">
					{{ if eq .Kind "page" }}
						{{ with .Date }}
							{{ with . | time.Format "2006-01-02" }}
								<time datetime="{{ . }}"> {{ . }} </time>
							{{ end }}
						{{ end }}
					{{ end }}


					<span class="title">
						{{- range after $ancestors .Ancestors.Reverse -}}
							{{- .LinkTitle -}}/
						{{- end -}}
						{{- .LinkTitle }}
					</span>
				</a>
			</li>
		{{ end }}
	</ul>
</div>
