<div class="metadata">
	{{ with .Date }}
		<time datetime="{{ . | time.Format "2006-01-02" }}">
			Written:
			{{ . | time.Format "2006-01-02" }}
		</time>
	{{ end }}

	{{ with .GetTerms "tags" }}
		&nbsp; | &nbsp;
		{{ range . }}
			<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		{{ end }}
		<br />
	{{ end }}

	{{ if not (and (eq .Date.Year .Lastmod.Year) (eq .Date.YearDay .Lastmod.YearDay)) }}
		{{ $path := .File.Path }}
		{{ with .Lastmod }}
			<time datetime="{{ .| time.Format "2006-01-02" }}">
				<a
					href="https://github.com/nobe4/nobe4.github.io/commits/master/content/{{ $path }}"
					title="history"
					target="_blank"
				>
					Updated:
					{{ .| time.Format "2006-01-02" }}
				</a>
			</time>
		{{ end }}
	{{ end }}
</div>
