$black: #111111;
$white: #ffffff;

// Source: http://clrs.cc/
$random_colors: (
	"blue": #0074d9,
	"aqua": #7fdbff,
	"teal": #39cccc,
	"olive": #3d9970,
	"green": #2ecc40,
	"lime": #01ff70,
	"yellow": #ffdc00,
	"orange": #ff851b,
	"red": #ff4136,
	"maroon": #85144b,
	"fuchsia": #f012be,
	"purple": #b10dc9,
	"gray": #aaaaaa,
);

body {
	color: $black;
	background-color: $white;
}

@each $name, $value in $random_colors {
	body.#{"" + $name} {
		a,
		h1,
		h2,
		h3,
		h4,
		h5,
		.colored {
			&:hover {
				color: $value;
			}
		}
	}
}
