.site-footer {
	height: $footer-height;
	.wrapper{
		margin-top: 15px;
		text-align: center;
		ul.links {
			list-style: none;
			font-size: 15px;
			color: $grey-color;
			margin-left: -$spacing-unit / 2;
			margin-bottom: 0;
			li{
				display: inline-block;
				&:first-child{
					margin-right: 1em;
				}
			}
		}
		// remove clearfix
		&:after{
			content: none;
		}
	}
}
